body {
  background-color: #f1f4f9;
  font-family: "Montserrat" !important;
  background-size: 300px;
  min-width: 380px;
}

.content-section {
  margin: 50px auto;
  max-height: 80vh;
  overflow: scroll;
  border: 2px solid rgba(97, 97, 97, 0.158);
  border-radius: 5px;
  margin-bottom: 0;
}
.content-section .profile__product__info .stock {
  text-align: right;
  padding: 10px 0;
}
.content-section .profile__product__info .stock .fa-circle {
  margin: 0 5px;
  color: #23ff23;
  text-shadow: 0 0 3px black;
}

.profile__header {
  background-color: black;
}

.search {
  max-width: 1270px;
  margin: auto;
  display: flex;
  justify-content: center;
}
.search input {
  padding: 18px 10px;
  border: 0;
  width: 55%;
  min-width: 320px;
  background-color: white;
  transition: all 0.2s;
  border-top-right-radius: 3px;
  border: 1px solid rgba(7, 7, 7, 0.301);
  border-bottom-right-radius: 3px;
  border-left: 0;
}
.search input:focus {
  outline: 0;
}
.search i {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 0 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 19px;
  border: 1px solid rgba(7, 7, 7, 0.301);
  border-right: 0;
}

#scrollMarker {
  padding: 1px;
  margin-bottom: 50px;
}

.telegram {
  border-radius: 3px;
  position: fixed;
  overflow: hidden;
  right: 10px;
  bottom: 10px;
  transition: width 0.3s;
}
.telegram #telegramButton {
  font-size: 30px;
  background-color: #2b2b2b;
  color: #28bbff;
  transition: font-size 0.2s;
  cursor: pointer;
  padding: 8px;
  transition: all 0.2s;
  border-radius: 50px;
  border: 2px solid rgba(255, 255, 255, 0.123);
}
.telegram #telegramButton:hover {
  background-color: #3f3f3f;
}
.telegram #support {
  font-size: 18px;
  position: relative;
  bottom: 4px;
  margin: 0 10px;
}
.telegram .chatBox {
  transition: all 0.3s;
  max-height: 0;
  max-width: 0;
  overflow: hidden;
}
.telegram .chatBox .cross {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  cursor: pointer;
}
.telegram .chatBox .chatTop {
  position: relative;
  background-color: #00a2ff;
  padding: 10px;
}
.telegram .chatBox .chatTop .agent {
  width: 50px;
  height: 50px;
  background-color: #333333;
  border-radius: 50px;
  display: inline-block;
  background-image: url("https://cdn.imgbin.com/25/3/12/imgbin-anime-avatar-desktop-anime-5wgns3t6TneVx0vJWNaQ6rs63.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}
.telegram .chatBox .chatTop .agent .online {
  position: absolute;
  width: 15px;
  height: 15px;
  right: 0px;
  bottom: 0px;
  border-radius: 15px;
  background-color: #29fc29;
  border: 1px solid black;
}
.telegram .chatBox .chatTop span {
  position: absolute;
  top: 22px;
  margin: 0 10px;
  font-size: 17px;
  color: white;
}
.telegram .chatBox .messageContainer {
  padding: 15px;
  padding-right: 30px;
  text-align: left;
  background-color: #f0f0f0;
}
.telegram .chatBox .messageContainer .message {
  max-width: 250px;
  border-radius: 3px;
  background-color: white;
  padding: 5px;
}
.telegram .chatBox .messageContainer .chatNow {
  padding: 5px;
  background-color: #23a7ff;
  color: white;
  border: 0;
  width: 100%;
  margin: 10px 0;
  margin-bottom: 0;
  font-size: 17px;
}

/*# sourceMappingURL=main.css.map */
