body {
  background-color: rgb(153, 231, 250);
  background-image: url("../Backgrounds/napkin.svg");
  font-family: "Montserrat" !important;
  background-size: 300px;
}

.content-section {
  margin: 50px auto;
  max-height: 80vh;
  overflow: scroll;
  border: 2px solid rgba(97, 97, 97, 0.158);
  border-radius: 5px;
  margin-bottom: 0;

  .profile__product__info {
    .stock {
      text-align: right;
      padding: 10px 0;
      .fa-circle {
        margin: 0 5px;
        color: rgb(35, 255, 35);
        text-shadow: 0 0 3px rgb(0, 0, 0);
      }
    }
  }
}
.profile__header {
  background-color:black;
}
.search {
  max-width: 1270px;
  margin: auto;
  display: flex;
  justify-content: center;
  input {
    padding: 18px 10px;
    border: 0;
    width: 55%;
    min-width: 480px;
    background-color: rgb(255, 255, 255);
    transition: all 0.2s;
    border-top-right-radius: 3px;
    border: 1px solid rgba(7, 7, 7, 0.301);
    border-bottom-right-radius: 3px;
    border-left: 0;
  }
  input:focus {
    outline: 0;
  }

  i {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 0 15px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 19px;
    border: 1px solid rgba(7, 7, 7, 0.301);
    border-right: 0;
  }
}

#scrollMarker {
  padding: 1px;
  margin-bottom: 50px;
}
.telegram {
  border-radius: 3px;
  position: fixed;
  overflow: hidden;
  right: 10px;
  bottom: 10px;
  transition: width 0.3s;
  #telegramButton {
    font-size: 30px;
    background-color: rgb(43, 43, 43);
    color: #28bbff;
    transition: font-size 0.2s;
    cursor: pointer;
    padding:8px;
    transition: all .2s;
    border-radius:50px;
    border:2px solid rgba(255, 255, 255, 0.123);
  }
  #telegramButton:hover {
    background-color: rgb(63, 63, 63);
  }
  #support {
    font-size: 18px;
    position: relative;
    bottom: 4px;
    margin: 0 10px;
  }
  .chatBox {
    transition: all .3s;
    max-height:0;
    max-width:0;
    overflow: hidden;
    .cross{
      position: absolute;
      right:10px;
      top:10px;
      font-size:20px;
      cursor: pointer;
    }
    .chatTop {
      position: relative;
      background-color: rgb(0, 162, 255);
      padding: 10px;
      .agent {
        width: 50px;
        height: 50px;
        background-color: rgb(51, 51, 51);
        border-radius: 50px;
        display: inline-block;
        background-image: url("https://cdn.imgbin.com/25/3/12/imgbin-anime-avatar-desktop-anime-5wgns3t6TneVx0vJWNaQ6rs63.jpg");
        background-position: center;
        background-size: cover;
        position: relative;
        .online{
          position: absolute;
          width:15px;
          height:15px;
          right:0px;
          bottom:0px;
          border-radius:15px;
          background-color:rgb(41, 252, 41);
          border:1px solid black;
        }
      }
      span {
        position: absolute;
        top: 22px;
        margin: 0 10px;
        font-size: 17px;
        color: white;
      }
    }
    .messageContainer {
      padding: 15px;
      padding-right: 30px;
      text-align: left;
      background-color: rgb(240, 240, 240);
      .message {
        max-width: 250px;
        border-radius: 3px;
        background-color: white;
        padding: 5px;
      }
      .chatNow{
        padding:5px;
        background-color:rgb(35, 167, 255);
        color:white;
        border:0;
        width:100%;
        margin:10px 0;
        margin-bottom:0;
        font-size:17px;
      }
    }
  }
}
